<!-- <footer>
    



<div class="w3-bottom">
    <div class="w3-bar w3-red">
    
    
      <p style="text-align: center;">&copy; 2024 Your Company</p>
    </div>
  </div>

</footer> -->


  <!-- Footer -->
  <footer class="w3-container w3-dark-grey" style="padding:16px">
 
    <div class="w3-row">
      <div class="w3-container w3-half">
        <a href="#" class="w3-button w3-black"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        
        
      </div>
      <div class="w3-container w3-half">
        <p>digitalindia.xyz</p>  
      </div>
    </div>
  </footer>
  
